.max-size {
    height: calc(100vh - 104px);
    width: 100%;
}

.centre-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-item-height {
    height: calc(50vh - 104px);
}